<%= form_with(model: post) do |form| %>
    <%= render 'layouts/errorsHandling',post: @post %>
    <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>
  <div class="field">
      <%= form.label :all_tags %>
      <%= form.text_field :all_tags %>
    </div>

  <div class="field">
      <%= form.label :category_id %>
      <%= form.collection_select :category_id, Category.all, :id, :category %>
   </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>