<div class="container mt-3">
  <h2>Posts</h2>
  <p>Show all Posts</p>
   <table class="table">
    <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
      <th>Category</th>
    </tr>
    </thead>
    <tbody>
    <tr>
      <% @posts.each do |post| %>
      <tr>
        <% if post.user == current_user %>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
          <td><%= post.category.category %></td>
          <td><button type="button" class="btn btn-info"><%= link_to "Show", post_path(post) %></button></td>
          <td><button type="button" class="btn btn-info"><%= link_to "Edit", edit_post_path(post) %></button></td>
          <td><button type="button" class="btn btn-info"><%= button_to "Delete", post, method: :delete, data: { confirm: 'Are you sure?' } %></button></td>
          </tr>
        <% else %>
          <td><%= post.title %></td>
          <td><%= post.body %></td>
         <td> <button type="button" class="btn btn-info"><%= link_to "Show", post_path(post) %></button></td>
        <% end %>
    <% end %>
    </tr>
    </tbody>
  </table>
  <% if user_signed_in? %>
    <%= link_to "New Post", new_post_path %>
  <% else %>

  <% end %>

</div>































